.idea/
.venv/
combined_dem.npy
combined_rgb.npy
generated_images/
inference_outputs/
output_tiles/
preprocessed_data/
saved_models/
big_dem.tif
big_rgb.tif
run-docker.txt
preprocessed_data_preview.png
terrain_outputs/
high_altitude_flight/
large_out/
